/* sass --watch src/components/App.scss src/components/App.css */
// @import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

$xxsm: 320px;
$xsm: 480px;
$sm: 600px;
$md: 768px;
$lg: 900px;
$xlg: 1024px;
$xxlg: 1200px;

.app{
    @include flexCenter();
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    
    a{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }
}
.font-cookie{
    font-family: 'Cookie', cursive;
}
.namelogo{
    @include flexCenter();
    font-size: 2rem;
    border-bottom: 2px solid coral;
    min-width: 100%;
    height: 70px;
}
.header{
    @include flexCenter();
    width: 100%;
    flex-direction: column;
    background-color: bisque;
    margin-bottom: 10px;
}
.navbar, .footerNav{
    @include flexCenter();
    min-width: 100%;
    background-color: bisque;
    gap: 10px;
    padding:10px;
}
.navUl, .footerNavUl{
    @include flexCenter();
    gap:10px;
    list-style-type: none;
    a{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }
}

.newsContainer{
    @include flexCenter();
     width: 100%;
     height: auto;
    //  background-color: lightpink;
     flex-wrap: wrap;
     gap: 10px;
 }

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top:25px;
   
}
.footer-logo{
    font-size: 1.5rem;
    min-width: 100%;
    background-color: rgb(214, 199, 129);
    padding-left: 5%;

}
.footerNav{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footerNavUl{
    flex-direction: column;
}

.wrapper3{
    @include flexCenter();
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    width: 25%;
    min-height: 45vh;

    .title{
        @include flexCenter();
        color: black;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
        height: 15%;
        text-size-adjust: 100%;
        
    }
    .discription{
        @include flexCenter();
        font:inherit;
        font-size: .7em;
        height: 35%;
        text-size-adjust: 100%;
    }
    .image{
        @include flexCenter();
        border: 1px solid red;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: 5px;
        height: 60%;
        width: 95%;
       
    }
    .image img{
        object-fit: fill;
        width: 100%;
        height: 100%;
        
    }

}
.article-page{
    @include flexCenter();
    width: 90%;
    // background-color: rgb(139, 35, 35);
    flex-direction: row;
    align-items: flex-start;
    

    .relatedArticles{
        @include flexCenter();
        flex-direction: column;
        //margin-top: 20px;;
        //background-color: greenyellow;
        width: 20%;
        .relatedArticle{
            @include flexCenter();
            flex-direction: column;
           
            //max-height: 20vh;
            width: 100%;
            padding:5%;
            margin:5%;
            margin-top: 0px;
            margin-bottom: 0px;
            
            border-top: 1px solid black;
            //border-bottom: 1px solid black;
            //background-color: hotpink;
            .title{
                width: 100%;
                font-size: 1em;
                color: black;
                font-weight: 700;
            }
            .discription{
                width: 100%;
                font-size: .6em;
            }
        }
    }
}
.article{
    width: 70%;
    @include flexCenter();
    flex-direction: column;
    .article-title{
        width: 90%;
        @include flexCenter();
    }
    .article-content{
        width: 90%;
        @include flexCenter();
        flex-direction: column;
        p{
            width: 100%;
        }
        .image{
            @include flexCenter();
            border: 1px solid red;
            justify-content: center;
            display: flex;
            flex-direction: row;
            margin: 5px;
            height: auto;
            max-width: 100%;
            min-width: 60%;
           
        }
        img{
            object-fit: fill;
            width: 100%;
            height: 100%;
            
        }
        a{
            &:hover{
                color: green;
                font-size: 1.2em;
            }
        }
    }
    small{
        width: 100%;
        justify-content: flex-start;
        background-color: beige;
    }

}

// 1 $xxsm less than 320px
@media screen and (max-width: 320px) {
    .appp{
        font-size: 10px;
    }
    .wrapper3{
        width:95%;
        height: 40vh;
        // background-color: lightcoral;
        //font-size: 10px;
        }
    .navbar{
        display: none;
    }
    .article-page{
        flex-direction: column;
        .article{
            width: 100%;
        }
        .relatedArticles{
            width: 100%;
        }
    }
}
// 2 $xxsm - $xsm => greater than 320px but less than 480px
@media screen and (min-width: 320px) and (max-width: 480px){
    .appp{
        font-size: 5px;
    }
    .wrapper3{
        
        width:100%;
        height: 40vh;
        // background-color: lightcoral;
    }
    .navbar{
        display: none;
    }
    .footerNav{
        width: 100%;
    }
    .article-page{
        flex-direction: column;
        .article{
            width: 100%;
            padding:0px;
        }
        .relatedArticles{
            width: 100%;
        }
    }
}

// 3 $xsm - $sm , 480px<wd<600
@media screen and (min-width: 480px) and (max-width: 600px) {
    .appp{
        font-size: 6px;
    }
    .wrapper3{
        width:45%;
        height: 40vh;
        // background-color: lightcoral;
        }
    .navbar{
        display: none;
    }
    .navbar, .footerNav{
        font-size: .9rem;
        gap:0px;
    }
    .relatedArticles{
        font-size: .6rem;
    }
    
}

// 4 sm-md 600px 768
@media screen and (min-width: 600px) and (max-width: 768px) {
    .appp{
        font-size: 8px;
        

    }
    .wrapper3{
        width:45%;
        height: 40vh;
        // background-color: lightcoral;
        }
    .relatedArticles{
        font-size: .7rem;
    }
    .navbar{
        font-size: .60rem;
    }    
}

// 5 md-lg 768-900
@media screen and (min-width: 768px) and (max-width: 900px) {
    .appp{
        font-size: 10px;
    }
    .wrapper3{
        width:30%;
        height: 40vh;
        // background-color: lightcoral;
        }
        .relatedArticles{
            font-size: .8rem;
        }
        .navbar{
            font-size: .8rem;
        } 
}

// 6 lg - xlg 900 - 1024
@media screen and (min-width: 900px) and (max-width: 1024px) {
    .wrapper3{
        width:30%;
        height: 40vh;
        // background-color: lightcoral;
        }
        .appp{
            font-size: 12px;
        }
        .relatedArticles{
            font-size: .85rem;
        }
        .navbar{
            font-size: .85rem;
        } 
}

// 7 xlg-xxlg 1024 - 1200
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .appp{
        font-size: 14px;
    }
    .wrapper3{
        width:30%;
        height: 45vh;
        // background-color: lightcoral;
        }
    }       
// 8 gt xxlg 1200<
@media screen and (min-width: 1200px) {
    .appp{
        font-size: 16px;
    }
    .wrapper3{
        width:25%;
        height: 45vh;
        // background-color: lightcoral;
        }
    
}
